section.idea(data-cid=idea.cID, data-number=idea.number)
  header.idea__header
    h2.idea__heading Idea #{idea.number}
    img.idea__image(src='images/content/' + idea.cID + '.png')
  div.idea__body
    h3.idea__sub-heading= idea.heading
    div.idea__copy= idea.body
    a.idea__cta(href=idea.ctaLink)= idea.ctaLabel

