section(class=idea.className, data-cid=idea.cID, data-number=idea.number)
  img.idea__bg(src=idea.backgroundImageSrc)
  header.idea__header
    h2.idea__heading Idea #{idea.number}
    img.idea__image(src=idea.imageSrc)
  .idea__body
    h3.idea__sub-heading= idea.heading
    div.idea__copy!= idea.body
    a.idea__cta(href=idea.ctaLink)= idea.ctaLabel

