section.summary
  header.summary__header
    each idea in ideas.upsell
      a.summary__idea-cta(href=idea.ctaLink, data-cid=idea.cID)
        img(src='images/content/' + idea.cID + '.png')
    each idea in ideas.whyO2
      a.summary__idea-cta(href=idea.ctaLink, data-cid=idea.cID)
        img(src='images/content/' + idea.cID + '.png')
  h2.summary__heading= summary.heading
  div.summary__copy= summary.copy

